.stand {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputs {
    margin: 50px 50px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.buttons {
    margin: 50px 50px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 36px;
}
